---
layout: default
---
<div class="search">
    <script type="text/javascript">
        {% include index.js %}

        $(document).ready(function () {
            $("#search-query").on({
                "keyup": function () {
                    searchSomething(this.value)
                }
            });

            var index = lunr(function () {
                this.field('name', {boost: 10});
                this.field('url');
                this.field('description');
                this.field('tags');
            });

            indexJson.map(function (raw, ind) {
                raw.id = ind;
                index.add(raw);
            });

            function searchSomething(searchQuery) {
                var result = index.search(searchQuery);
                console.log("RESULT",result);
                result.map(function (resultRaw) {
                    $(".entry-panel").hide();
                    var i = resultRaw.ref
                    console.log(i)
                    $("#entry-" + i).show();
                });
                if (result.length == 0) {
                    $(".entry-panel").show();
                }
            }
        });


    </script>

    <div class="jumbotron">
        <h1>Big data reference.</h1>

        <p>Search anything you want into big data world.</p>

        <div class="input-group">
            <span class="input-group-addon"><div class="glyphicon glyphicon-search"></div></span>

            <div id="search">
                <form action="/" method="get">
                    <input type="text" id="search-query" name="q" class="form-control input-lg"
                           placeholder="Search here" autocomplete="off">
                </form>
            </div>
            <!-- TODO  add frequent tags -->
            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle input-lg" type="button" id="freq-tags" data-toggle="dropdown">
                    Frequent Tags
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div>
        {% include table.html %}
    </div>
</div>
