---
layout: default
---
<div class="search">
    <script type="text/javascript">
        {% include index.js %}

        $(document).ready(function () {
            $("#search-query").on({
                "keyup": function () {
                    document.searchSomething(this.value)
                }
            });

            var index = lunr(function () {
                this.field('name', {boost: 100});
                this.field('url', {boost: 20});
                this.field('repoUrl', {boost: 20});
                this.field('companyName', {boost: 80});
                this.field('companyPage', {boost: 10});
                this.field('languagesSupported', {boost: 50});
                this.field('language', {boost: 50});
                this.field('description', {boost: 60});
                this.field('tags', {boost: 100});
            });

            indexJson.map(function (raw, ind) {
                raw.id = ind;
                index.add(raw);
            });

            var $allCards = $(".entry-panel").clone();
            document.searchSomething = function(searchQuery) {
                if (searchQuery.length > 3) {
                    var result = index.search(searchQuery);
                    if(result.length > 0){
                        $(".entry-panel").remove();
                        var resultMap = {};
                        result.map(function(val){
                            resultMap["entry-"+val.ref] = val.score;
                        });

                        var $filteredCards = $allCards.filter(function(index,element){
                            if(resultMap[element.id]!= undefined){
                               return element;
                            }
                        });

                        var $sortedCards = $filteredCards.sort(function(a,b){
                            var scoreA = resultMap[a.id];
                            var scoreB = resultMap[b.id];
                            return scoreB-scoreA;
                        });

                        $sortedCards.appendTo(".cardsWrapper");

                        return;
                    }
                }
                $allCards.appendTo(".cardsWrapper");
            }
        });


    </script>

    <div class="jumbotron">
        <h1>Big data reference.</h1>

        <p>Search anything you want into big data world.</p>

        <div class="input-group">
            <span class="input-group-addon"><div class="glyphicon glyphicon-search"></div></span>

            <div id="search">
                <input type="text" id="search-query" name="q" class="form-control input-lg"
                           placeholder="Search here" autocomplete="off">
            </div>
            <!-- TODO  add frequent tags -->
            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle input-lg" type="button"
                        id="freq-tags" data-toggle="dropdown">
                    Frequent Tags
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="javascript:document.searchSomething('SQL engines')">Action</a>
                    </li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another
                        action</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else
                        here</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated
                        link</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="cardsWrapper">
        {% include cards.html %}
    </div>
</div>
