{% for entry_hash in site.data.entries %}
{% assign entry = entry_hash[1] %}
{% assign i = forloop.index -1 %}
<div class="panel panel-default entry-panel" id="entry-{{forloop.index | minus:1}}">
    <div class="panel-heading">
        <h3 class="panel-title">{{entry.name}}</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class='col-sm-2'>
                <img src="/icons/{{entry.icon}}" class="pull-left" alt="{{entry.name}}" width="100">
            </div>
            <div class='col-sm-10'>
                <p>{{entry.description}}</p>
            </div>
        </div>
        <div class="row">
            <div class='col-sm-4'>
                {% if entry.url %}
                    <p>Page: <a href="{{entry.url}}">{{entry.url}}</a></p>
                {% endif %}

                {% if entry.repoUrl %}
                    <p>Repo: <a href="{{entry.repoUrl}}">{{entry.repoUrl}}</a></p>
                {% endif %}
            </div>
            <div class='col-sm-4'>
                <p>Company Name: {{entry.companyName}}</p>

                {% if entry.companyUrl %}
                    <p>Company Page: <a href="{{entry.companyUrl}}">{{entry.companyUrl}}</a></p>
                {% endif %}
            </div>
            <div class='col-sm-4'>
                <p>Languages supported:
                    {% for ls in entry.languagesSupported %}
                    <button type="button" class="btn btn-primary btn-xs"
                            onclick="document.searchSomething('{{ls}}')">{{ls}}
                    </button>
                    {% endfor %}
                </p>

                <p>Language: {{entry.language}}</p>
            </div>
        </div>

    </div>
    <div class="panel-footer">
        {% for tag in entry.tags %}
        <button type="button" class="btn btn-primary btn-xs"
                onclick="document.searchSomething('{{tag}}')">{{tag}}
        </button>
        {% endfor %}
    </div>
</div>
{% endfor %}