<header>
    <div class="bdr-brb-war bg-primary">
        <div class="container bdr-main-container ">

            <h1 class="text-center bdr-main-h1"><span class="bg-primary bdr-main-h1-txt">Big Data Ref.</span></h1>

            <h2 class="text-center text-success bdr-main-h2 ">If it's Big Data, it's in Big Data Reference.</h2>

            <div class="row">
                <div class="col-lg-6 col-lg-offset-2 col-md-7 col-md-offset-1 col-sm-9 col-sm-offset-0 col-xs-12 form-group">
                    <input type="text" id="js-search-query" name="q" class="bdr-search form-control" autocomplete="off">
                </div>
                <div class="btn-group col-lg-2 col-md-3 col-sm-3 col-sm-offset-0 col-xs-offset-4 col-xs-8">
                    <button type="button" class="btn btn-primary bdr-btn-primary-hard bdr-dropdown-toggle dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        Commons Tags <span class="caret bdr-mls"></span>
                    </button>
                    <ul class="dropdown-menu bdr-dropdown-menu" role="menu">
                        {% for tag in site.data.variables.commonsTags %}
                        <li><a href="javascript:document.searchSomething('{{tag}}')">{{tag}}</a></li>
                        {% unless forloop.last %}
                        <li class="divider"></li>
                        {% endunless %}
                        {% endfor %}
                    </ul>
                </div>
            </div>


        </div>
    </div>

</header>
